/* Reset some default styles for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5c6090f7815512cc3c2008d4/1551053117928-E97Y685OM82ELE77LDVS/UGABDC-georgia-bolton-dining-10-dining-7686-M.jpg?format=1500w);
  color: black;
}

.main {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.submit {
  background-color: #d9534f; /* Red */
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.gray {
  background-color: #ccc;
}

.child {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #d9534f; /* Red */
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.calculateButton {
  text-align: center;
  margin-top: 20px;
}

.aiCameraSection {
  text-align: center;
}

.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  background-color: #d9534f; /* Red */
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.result {
  margin-top: 20px;
  background-color: #d9534f; /* Red */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.hasPhoto {
  border: 2px solid #d9534f; /* Red */
  border-radius: 8px;
  padding: 10px;
}
