body {
  font-family: 'Georgia', sans-serif; /* Change font-family to Georgia */
  background-size: cover;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5c6090f7815512cc3c2008d4/1551053117928-E97Y685OM82ELE77LDVS/UGABDC-georgia-bolton-dining-10-dining-7686-M.jpg?format=1500w); /*Changed background aesthetic to appeal to users */
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background to improve text readability */
  border: 2px solid red; /* Add a black border with a thickness of 2px */
}

.small-image {
  width: 30px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Add some spacing between the image and text */
}


.App {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-top: none; /* Remove the top border */
  border-bottom: none; /* Remove the bottom border */
}

h1 {
  font-family: 'Georgia', sans-serif; /* Change font-family to Georgia */
  font-size: 30px; /* Increase font size */
  font-weight: 800; /* Make the title bolder */
  color: black; /* Set default color to black */
}

h1 .uga {
  color: red; /* Set color of "UGA" to red */
}

h1 .caltrack {
  color: black; /* Set color of "CalTrack" to black */
}


p {

  color: solid black;
}

button.take-picture {
  color: #000; /* Black */
  font-weight: bold; /* Making the font bolder */
  background-color: red; /* UGA Red */
  padding: 10px 20px;
  font-size: 16px;
  border: black;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button.take-picture:hover {
  background-color: red; /* Darker shade of UGA Red */
}

.result {
  display: none;
  margin-top: 20px;
}

.result.hasPhoto {
  display: block;
}

canvas {
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  margin-top: 10px;
}
.uga-logo {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS375RHHMk_W-h2EVR1vsOBzeYiamAeurHwIfvwsEdVkjnTt66LGJh8NybpaW-LYYqqKE&usqp=CA"); /* Path to your UGA logo image */
  background-size: contain; /* Ensure the logo fits within the span */
  background-repeat: no-repeat; /* Prevent the logo from repeating */
  display: inline-block; /* Allow for proper alignment with text */
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  margin-right: 10px; /* Add some spacing between the logo and the text */
}

.submit {
  background-color: aqua;
}

.gray {
  background-color: pink;
}

.main {
  margin-top: 50px;
}