body {
  font-family: 'Georgia', sans-serif; /* Change font-family to Georgia */
  background-size: cover;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5c6090f7815512cc3c2008d4/1551053117928-E97Y685OM82ELE77LDVS/UGABDC-georgia-bolton-dining-10-dining-7686-M.jpg?format=1500w); /*Changed background aesthetic to appeal to users */
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background to improve text readability */
  border: 2px solid black; /* Add a black border with a thickness of 2px */
}
.small-image-container {
  display: inline-block; /* Ensure the container does not span the full width */
  margin-right: 10px; /* Add some spacing between the image and text */
}

.small-image {
  width: 30px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.caltrack {
  color: black; /* Set color of "CalTrack" to black */
}


.App {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top: none; /* Remove the top border */
  border-bottom: none; /* Remove the bottom border */
}

h1 {
  font-family: 'Georgia', sans-serif; /* Change font-family to Roboto */
  font-size: 30px; /* Increase font size */
  font-weight: bold; /* Make the title bolder */
}

p {
  color: red;
}

button.take-picture {
  color: #000; /* Black */
  font-weight: bold; /* Making the font bolder */
  background-color: black; /* UGA Red */
  padding: 10px 20px;
  font-size: 16px;
  border: black;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button.take-picture:hover {
  background-color: #990000; /* Darker shade of UGA Red */
}

.result {
  display: none;
  margin-top: 20px;
}

.result.hasPhoto {
  display: block;
}

canvas {
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  margin-top: 10px;
}